body {
font-family: "Helvetica", sans-serif;
color: #333;
}
header {
background-color: #fff;
padding: 20px;
}
h1 {
font-size: 2em;
font-weight: 200;
}
nav {
background-color: #333; 
}
nav ul {
list-style: none;
}
nav li {
display: inline-block;
}
nav a {
color: #fff;
text-decoration: none;
font-size: 1.2em;
padding: 10px 20px;
}
section {
width: 80%;
margin: 0 auto;
}
.overview {
background-color: #f2f2f2;
padding: 30px; 
text-algin: left;
width: 80%;
margin: 0 auto;
}
.news { 
display: flex;
flex-wrap: wrap;
}
.news-item {
width: 45%;
margin: 10px;
box-sizing: border-box; 
}
.news-item img {
width: 100%;  
}
footer {
background-color: #333; 
color: #fff;
text-align: center;
padding: 20px;
}
